<!-- imperative approach -->
<div>
  <label>imperative approach</label>
  <select (change)="selectTodo($event)">
    @for (todo of todos.value()?.todos; track todo.id) {
    <option [value]="todo.id">
      {{ todo.todo }}
    </option>
    }
  </select>
</div>

<!-- declarative approach -->
<!-- <div>
  <label>declarative approach</label>
  <select [formControl]="todoControl">
    @for (todo of todos.value()?.todos; track todo.id) {
    <option [value]="todo.id">
      {{ todo.todo }}
    </option>
    }
  </select>
</div> -->

<h2>Selected Todo: </h2>
@if (todo.value()) {
<p>{{ todo.value()?.todo }}</p>
}